/* Articles Page Styles */
.article-detail-container{
  width: 100%;
  min-height: 100vh;
  padding: 60px 20px;
  margin-top: 60px;
}

.article-detail-container h1{
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  margin: 20px 0;
}

.article-detail-container h2{
  font-weight: 900;
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 20px;
}

.article-detail-container p, li{
  font-size: 1rem;
  color: #ccc;
  line-height: 2rem;
}

.article-body{
  color: #ccc;
}


.article-detail-container .article-date{
  font-size: 0.8rem;
  font-weight: 500;
  margin: 2px 0;
  color: #ccc;
}

.article-detail-container .article-image{
  width: 100%;
  background-color: #333;
  object-fit: cover;
  height: 280px;
  border-radius: 5px;
  object-position: center;
}


@media only screen and (min-width: 768px) {
  .article-detail-container{
    padding: 60px 100px;
    margin-top: 60px;
  }

  .article-detail-container .article-image{
    height: 360px;
  }

  .article-detail-container h1{
    font-weight: 900;
    font-size: 2rem;
  }

  .article-detail-container h2{
    font-weight: 900;
    font-size: 1.2rem;
  }

  .article-detail-container p{
    font-size: 1rem;
  }
}


@media only screen and (min-width: 1000px) {
  .article-detail-container{
    padding: 60px 200px;
  }

  .article-detail-container .article-image{
    height: 380px;
  }

}