/* Simple Footer Styles */
.footer-container {
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;


  background: rgba(18, 18, 18, 0.7);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.footer-container p{
  font-size: 0.8rem;
  color: #ffffff;
}



@media only screen and (min-width: 768px) {
  .footer-container p{
    font-size: 1rem;
  }
}
